@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* STYLE GUIDE */
$main-bg: #FFFFFF;
$cta-color: #88BBE6;
$cta-hover-color: #67A9DF;
$cta-contrast: #090909;
$success: #7CCB03;
$error: #FF4141;
$warning: #E84825;
$text-color: #090909;
$cta-text-color: #ffffff;

/* typography */
$font-family: Montserrat,
sans-serif;
$font-weight: normal;

/* MAIN */
body {
    background: $main-bg;
    font-family: $font-family;
    font-weight: $font-weight;
    margin: 0;
    padding: 0;
    height: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 14px;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
        word-break: break-word;
        line-height: 64px;
    }

    h3 {
        font-size: 24px;
        line-height: 24px;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $text-color;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }

    .inactive {
        color: $text-color !important;
        cursor: not-allowed;
    }

    .cta-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 237px;
        height: 49px;
        color: $cta-text-color; 
        background: $cta-color;
        border-radius: 4px;
        cursor: pointer;
        transition: .2s;
        font-size: 18px;

        &:hover {
            background: $cta-hover-color;
        }
    }
}
