<article class="cr-about-us">
    <h1>Softniture</h1>
    <p>
        Використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
        взяв шрифтову гранку та склавВикористовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"
        аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склавВикористовується в друкарстві та дизайні.
        Lorem Ipsum є,фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав
        Використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склавВикористовується в
        друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склавВикористовується в друкарстві та дизайні.
        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склавВикористовується в друкарстві та дизайні.
        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склавВикористовується в друкарстві та дизайні.
        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав
    </p>
</article>