<article class="cr-works">
    <div class="cr-works__group">
        <img src="./assets/images/furniture/image 33.jpg" alt="img" />
        <img src="./assets/images/furniture/image 35.jpg" alt="img" />
        <img src="./assets/images/furniture/image 36.jpg" alt="img" />
        <img src="./assets/images/furniture/image 37.jpg" alt="img" />
    </div>
    <div class="cr-works__button">
    <a href="./assets/images/works.pdf" target="_blank" class="cta-button">Подивитись всі</a>
    </div>
</article>
