<article class="cr-benefits">
    <h1>Ваши переваги з Softniture</h1>
    <div class="cr-benefits-block">
        <div class="cr-benefits-block__item">
            <img src="../assets/images/sketch.svg" alt="sketch" />
            <h3>
                Дизайн проект клієнта
            </h3>
            <p>
                Використовується в друкарстві та дизайні. Lorem Ipsum є,
                фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий
                друкар взяв шрифтову гранку та склав
            </p>            
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/size.svg" alt="size" />
            <h3>
                Будь-який розмір
            </h3>
            <p>
                Використовується в друкарстві та дизайні. Lorem Ipsum є,
                фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий
                друкар взяв шрифтову гранку та склав            </p>            
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/colorPallete.svg" alt="colorPallete" />
            <h3>
                Будь-який колір
            </h3>
            <p>
                Використовується в друкарстві та дизайні. Lorem Ipsum є,
                фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий
                друкар взяв шрифтову гранку та склав            </p>            
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/fabric.svg" alt="fabric" />
            <h3>
                Матеріал
            </h3>
            <p>
                Використовується в друкарстві та дизайні. Lorem Ipsum є,
                фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий
                друкар взяв шрифтову гранку та склав
            </p>            
        </div>
    </div>
</article>
