<article class="cr-benefits">
    <h1>Ваші переваги з Softniture</h1>
    <div class="cr-benefits-block">
        <div class="cr-benefits-block__item">
            <img src="../assets/images/sketch.svg" alt="sketch" />
            <h3>
                Дизайн проект клієнта
            </h3>
            <p>
                Виготовимо меблі та предмети інтерєру згідно дизайн проекту замовника.Співпраця з дизайнерами вітається.
            </p>            
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/size.svg" alt="size" />
            <h3>
                Будь-який розмір
            </h3>
            <p>
                Виготовлені для Вас меблі будуть потрібних саме Вам розмірів.
            </p>            
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/colorPallete.svg" alt="colorPallete" />
            <h3>
                Будь-який колір
            </h3>
            <p>Величезний вибір шкіри, тканин, екошкіри виробництва Італії, Бельгії, Польщі, Туреччини. Завдяки розмаїттю кольорів, текстур та принтів - задовольнить навіть самі вибагливі смаки.</p>   
        </div>
        <div class="cr-benefits-block__item">
            <img src="../assets/images/fabric.svg" alt="fabric" />
            <h3>
                Матеріал
            </h3>
            <p>
                Каркаси виготовляються з фанери та дерева.В якості наповнення- пінополіуретан Флексформ,високоякісні синтепух та холофайбер.Ніякої економії на якості та комфорті!
            </p>            
        </div>
    </div>
</article>
