<article class="cr-design">
    <h1>Приголомшливий дизайн меблів</h1>
    <h4>
        Використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною
        "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав
    </h4>
    <div class="cr-design-block">
        <div class="cr-design-block__row">
            <div class="cr-design-block__row-large">
                <img src="../assets/images/furniture/photo_2020-12-29_15-53-31 (2).jpg" alt="">
            </div>
            <div class="cr-design-block__row-small">
                <img src="../assets/images/furniture/photo_2020-12-29_15-53-31.jpg" alt="" />
            </div>
        </div>
        <div class="cr-design-block__row">
            <div>image_small</div>
            <div>image_large</div>
        </div>
    </div>
</article>
