    <article class="cr-footer">
        <h1>Зв’язатись з Softniture</h1>
        <h4>Будь ласка, надайте нам інформацію про те, як ми можемо вам допомогти</h4>
        <div class="cr-footer__contact">
            <div class="cr-footer__contact-inputs">
                <div class="cr-footer__contact-inputs-input">
                    <label>Ім'я</label>
                    <input type="text" placeholder="Ім'я" />
                </div>

                <div class="cr-footer__contact-inputs-input">
                    <label>Email</label>
                    <input type="email" placeholder="email" />
                </div>
            </div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="cta-button">Відправити повідомлення</div>
        <div class="cr-footer__info">
            <div class="cr-footer__info--group">
                <div class="cr-footer__info--group-address">
                    <h6>Адрес</h6>
                    <span>Softniture</span>
                    <span>Курчатова 36, а</span>
                    <span>33000 Рівне, Україна</span>
                </div>
                <div class="cr-footer__info--group-contacts">
                    <h6>Контакти</h6>
                    <span>+380 98 222 81 36</span>
                    <span>+380 66 902 87 36</span>
                    <span>sofainfo@ukr.net</span>
                </div>
                <div class="cr-footer__info--group-socials">
                    <img class="no-active" src="./assets/images/telegram.svg" alt="telegram" />
                    <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.instagram.com/soft_furniture_design_studio/"><img src="./assets/images/instagram.svg" alt="instagram" /></a>
                    <img class="no-active" src="./assets/images/youtube.svg" alt="youtube" />
                </div>
            </div>
            <div class="cr-footer__info--group__copyright">
                <a href="/"><img src="./assets/images/softniture_black.svg" alt="softniture" /></a>
                © 2020 Softniture.io - All rights reserved
            </div>
        </div>
    </article>
    <script src="js/main.js"></script>
</body>
</html>