    <article class="cr-footer">
        <h1>Зв’язатись з Softniture</h1>
        <h4>Будь ласка, надайте нам інформацію про те, як ми можемо вам допомогти</h4>
        <div class="cr-footer__contact">
            <div class="cr-footer__contact-inputs">
                <input type="text" />
                <input type="text" />
            </div>
            <textarea name="" id="" cols="30" rows="10">Text</textarea>
        </div>
        <div class="cta-button">Відправити повідомлення</div>
        <div class="cr-footer__info">
            <img src="" alt="" />
            <div class="cr-footer__info-contacts">

            </div>
            <div class="cr-footer__info-address">
                
            </div>
            <div class="cr-footer__info-socials">
                
            </div>
        </div>
        <div class="cr-footer__copyright">
            © 2020 Softniture.io - All rights reserved
        </div>
    </article>
    <script src="js/main.js"></script>
</body>
</html>