<article class="cr-design-for">
    <div class="cr-design-for">
        <img src="" alt="home" />
        <div class="cr-design-for__item">
            <h3>Стінові панелі</h3>
            <p>
                Використовується в друкарстві та дизайні.
                Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                коли невідомий друкар взяв шрифтову гранку та склав  
            </p>
            <a href="">Подивитись всі</a>
        </div>
    </div>
</article>
