.cr-about-us {
    margin-top: 96px;
    max-width: 1200px;
    margin-left: 54px;
    
    h1 {
        margin-bottom: 24px;
    }

    p {
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    .cr-about-us {
        margin: 24px 0 0;
        width: auto;
        padding: 0 12px;

        p {
            width: auto;
        }
    }
}
