.cr-works {
    display: flex;
    flex-flow: column;
    padding-left: 5%;
    padding-right: 5%;

    &__group {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
        padding: 0;
        
        img {
           max-width: 250px;
           max-height: 300px;
           margin-left: 24px;
           
           &:first-child {
               margin-left: 0;
           }
        }
    }

    &__button {
        margin-top: 24px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

}

@media (max-width: 768px) {
    .cr-works {
        padding: 0 12px;
        &__group {
            display: none;
        }
    }
}
