.cr-design {
    margin: 150px 0 20px;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 54px;

    h4 {
        margin-top: 12px;
        max-width: 800px;
        text-align: center;
    }

    &-subtitle {
        margin-bottom: 66px;
    }

    &-block {
        margin-bottom: 66px;

        &__row {
            display: flex;
            
            img {
                height: 403px;
            }

            &-large {
                margin-right: 12px;
                flex: 75%;
                height: 403px;
            }

            &-small {
                margin-left: 12px;
                flex: 25%;
                height: 403px;
            }

            &:nth-child(2) {
                margin-top: 24px;

                .cr-design-block__row-large {
                    margin-left: 12px;
                    margin-right: 0;
                }
    
                .cr-design-block__row-small {
                    margin-right: 12px;
                    margin-left: 0;
                    flex: 25%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .cr-design {
        margin: 0;
        padding: 0 12px;
    
        &-subtitle {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    
        &-block {

            &__row {
                flex-flow: column;

                img {
                    width: 100%;
                    height: auto;
                }
    
                &-large {
                    margin-bottom: 12px;
                    margin-right: 0;
                }
    
                &-small {
                    margin: 0;
                }
    
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}