@import "../base";

.cr-header {
    height: 54px;
    background-color: transparent;
    position: absolute;
    padding: 0 54px;
    display: flex;
    justify-content: beetwen;
    align-items: center;
}

@media (max-width: 768px) {
    .cr-header {
        border-bottom: 1px solid rgba(9,9,9, 0.12);
        filter: brightness(0.1);
        padding: 0;
        width: auto;
        position: relative;

        img {
            padding: 0 12px;
        }
    }

    .cr-sidebar {
        display: none;
    }
}
